@model IncomeModel

@{
    ViewData["Title"] = "Income";
    double totalNetIncomeMonth = 0;
    double totalGrossIncomeMonth = 0;
}


@foreach(Income income in Model.GetEnumerator())
{
    <div>
        @income.Description
    </div>

    <div>
        @income.NetAmount.ToString("C")
    </div>

    <br />

    totalNetIncomeMonth += income.NetAmount;
    totalGrossIncomeMonth += income.GrossAmount;
}

<br />

<div>
    <p><b>Total net income per month :</b> @totalNetIncomeMonth.ToString("C")</p><br />
    <p><b>Total gross income per month :</b> @totalGrossIncomeMonth.ToString("C")</p>
    <br />
    <br />

    @{ double totalNetIncomeYear = totalNetIncomeMonth * 12 + ( ( (25 * 14 *2) * 2 ) * 0.85);
       double totalGrossIncomeYear = totalGrossIncomeMonth * 12 + ( (25 * 14  * 2) * 2 ); }

    <p><b>Total net income per year :</b> @totalNetIncomeYear.ToString("C")</p><br />
    <p><b>Total gross income per year :</b> @totalGrossIncomeYear.ToString("C")</p>

</div>

